.explore {
    width: 100%;
    background-color: $color-grey;
    &__location {
        height: 50px;
        background-color: darken($color-grey, 10);
        font-size: 1rem;
        text-align: center;
        padding: 10px 0;
        box-shadow: 0px 4px 3px -2px darken($color-grey, 20) inset;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            padding: 0 10px;
            height: auto;
        }
        span {
            height: auto;
        }
    }
    &__content {
        font-size: 2rem;
        text-align: center;
        margin-top: 30px;
        h2 {
            font-size: 1.5rem;
            font-weight: 500;
            padding: 10px;
        }
        p {
            font-size: 1.1rem;
            font-weight: 200;
            padding: 10px 0;
        }
    }
}


.process {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    
    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 30px;
    }
    &__command {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: $color-grey;
        margin-bottom: 25px;
        height: 75px;
        border-radius: 25px;
        @include shadow;
        .number {
            font-weight: 400;
            font-size: 0.9rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: -10px;
            height: 25px;
            width: 25px;
            background-color: $color-primary;
            color: white;
            border-radius: 50%;
            padding: 10px;
        }
        i {
            opacity: 0.5;
            font-size: 1.2rem;
        }
        &:hover {
            background-color: lighten($color-primary, 30%);
            @include shadow-hover;
            i {
                color: $color-primary;
                opacity: 1;
            }
        }
    }
}



.main-wrapper {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 45px;
}

.main {
    background-color: $color-grey;
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 60px;
        margin-bottom: 30px;
    }
}

.card {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    @include shadow;
    &__new {
        width: 80px;
        height: 30px;
        font-size: 0.85rem;
        font-weight: 500;
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-tertiary;
        color: darken($color-tertiary , 40%);
    }
    &__image {
        height: 70%;
        width: inherit;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }
    &__content {
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        h3 {
            font-size: 1.1rem;
            font-weight: 500;
        }
        p {
            font-weight: 200;
            font-size: 1.1rem;
            padding-top: 5px;
        }
        i {
            font-size: 1.3rem;
        }
    }
}