.top-image {
    width: 100%;
    height: 260px;
    &__img {
        height: 100%;
        width: inherit;
        object-fit: cover;
    }
}

.main-pages {
    background-color: $color-grey;
    border-radius: 30px 30px 0 0;
    position: relative;
    top: -40px;
    &__title {
        font-size: 1rem;
        font-style: italic;
        margin: 0;
        padding: 1rem 0;
        text-align: center;
        border-radius: 30px 30px 0 0;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        h2 {
            font-family: 'Shrikhand', cursive;
            font-size: 1.7rem;
            font-weight: l;
        }
    }
}

.food {
    width: 100%;
    margin: 0 auto;
    &__title {
        margin-top: 30px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        font-size: 1.1rem;
        opacity: 1;
        font-weight: 300;
        position: relative;
    }
    &__content {
        padding: 10px;
        border-radius: 15px;
        background-color: white;
        @include shadow;
        margin-bottom: 10px;
        h4 {
            font-weight: 500;
            margin-bottom: 5px;
        }
        div {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
        p {
            font-size: 0.9rem;
            font-weight: 300;
        }
        .price {
            padding-right: 10px;
            font-weight: 400;
            font-size: 0.9rem;
        }
    }
}

.food__title::before {
    content: "";
    position: absolute;
    background-color: $color-tertiary;
    width: 40px;
    height: 2px;
    bottom: 0;
}

.order {
    width: 100%;
    display: flex;
    justify-content: center;
    .btn-pages {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}