.footer {
    background-color: $color-footer;
    padding-top: 30px;
    a {
        color: white;
        font-weight: 300;
    }
    p {
        padding: 5px 0;
    }
    &__title {
        color: white;
        font-family: 'Shrikhand', cursive;
        font-size: 1.2rem;
        font-weight: lighter;
        padding-bottom: 10px;
    }
    &__container {
        color: white;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        .duo {
            display: flex;
            align-items: baseline;
            i {
                padding-right: 13px;
                font-size: 0.8rem;
            }
            .hand {
                font-size: 0.7rem;
                padding-right: 11px;
            }
        }   
    }
}

.footer-wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 35px;
}