.footer {
    background-color: $color-footer;
    padding: 30px 20px 35px 20px;
    &__title {
        color: white;
        font-family: 'Shrikhand', cursive;
        font-size: 1.2rem;
        padding-bottom: 10px;
    }
    &__container {
        color: white;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        .duo {
            display: flex;
            align-items: baseline;
        }
        a {
            color: white;
            padding: 5px 0;
            font-weight: 300;
            i {
                padding-right: 13px;
                font-size: 0.8rem;
            }
            .hand {
                font-size: 0.7rem;
                padding-right: 11px;
            }
        }
    }
}