

//Breakpoint home page - process section
@media only screen and (min-width: 992px) {
    .process {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;
        &__title {
            grid-column: 1 / span 3;
            grid-row: 1 / span 1;
        }
        &__command {
            margin-bottom: 0!important;
        }
    }
  }


//Breakpoint home page - main section
@media only screen and (min-width: 992px) {
    .main-wrapper {
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    .main__title {
        grid-row: 1 / 2;
        grid-column: 1 / span 2;
    }
}


//Breakpoint restaurants pages
@media only screen and (min-width: 992px) {
    .pages-wrapper {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 32% 32% 32%;
        column-gap: 20px;
        //max-height: 45vh;
        .main-pages__title {
            grid-column: 1 / span 3;
            grid-row: 1 / span 1;
        }
        .starter {
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
        }
        .main-course {
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
        }
        .dessert {
            grid-column: 3 / span 1;
            grid-row: 2 / span 1;
        }
        .order {
            grid-column: 1 / span 3;
            grid-row: 3 / span 1;
        }
    }
}
  
  
  
  
    