
//SVG heart animation

.heart-wrapper {
    width: 45px;
    height: 25px;
    position: relative;
    .heart-normal {
        width: 23px;
        position: absolute;
        top: 20%;
        left: 20%;
    }
    .heart-solid {
        width: 23px;
        position: absolute;
        top: 20%;
        left: 20%;
        fill: url(#linear);
        opacity: 0;
        transition: opacity 500ms;
        &:hover {
            opacity: 1;
        }
    }
}
