.btn {
    color: white;
    font-size: 1rem;
    padding: 15px 20px;
    border: none;
    margin-top: 10px;
    margin-bottom: 60px;
    border-radius: 30px;
    background: linear-gradient(175deg, $color-secondary, $color-primary);
    transition: 0.3s;
    @include shadow;
    &:hover {
        @include shadow-hover;
        background: linear-gradient(175deg, lighten($color-secondary, 5%), lighten($color-primary, 5%));
    }
}